/.DS_Store
/src/.DS_Store
/src/middleagercityparty/.DS_Store
/src/middleagercityparty/Pods/Pods.xcodeproj/xcuserdata/christian_truemper.xcuserdatad
/src/middleagercityparty/Pods/.DS_Store
/src/middleagercityparty/middleagercityparty.xcodeproj/xcuserdata/christian_truemper.xcuserdatad
/src/middleagercityparty/middleagercityparty-watchos Extension/.DS_Store
/src/middleagercityparty/middleagercityparty-watchos Extension/Assets.xcassets/.DS_Store
/src/middleagercityparty/middleagercityparty-watchos Extension/Assets.xcassets/Complication.complicationset/.DS_Store
/src/middleagercityparty/middleagercityparty.xcworkspace/xcuserdata/christian_truemper.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
/src/middleagercityparty/middleagercityparty.xcworkspace/xcuserdata/christian_truemper.xcuserdatad/UserInterfaceState.xcuserstate
